<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md4 max-auto text-center">
    <h1>about111</h1>
    <%= image_tag 'hands-2715976_1920.png', size: '150x200' %>
    </br>
    <p>
      HelpLossは</br>
      捨てたくなくても廃棄になったりする「もったいない」商品を、</br>
      HelpLossの取り組みに共感してくれる人たちに</br>
      食品メーカーさんの事情や背景とともに、</br>
      美味しく楽しくつなげていきます。</br>
      </br>
      </br>
      「もったいないもの」を減らせれば、</br>
      社会にポジティブな連鎖が起こり、</br>
      きっと食品ロスは削減されていきます。</br>
      </br>
      </br>
      HelpLossではこの社会の役に立てるような、</br>
      ブラットフォームを目指します。
    </p>
  </div>
</div>
