<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md4 max-auto text-center">
    <h2>食品メーカー・食品関連事業者の方へ</h2></br>
      <h3>お困りの商品を買い取ります。</h3>
  </div>
</div>

<div class="container">
  <div class="p-3 my-3 text-center">
    </br>
    </br>
    <%= link_to "お問い合わせフォームへ", new_customer_contact_path, class:"fas fa-store fa-3x" %>
  </div>
</div>
